[phases.setup]
aptPkgs = ["gdal-bin", "libgdal-dev", "proj-bin", "proj-data", "libproj-dev"]

[phases.install]
cmds = [
  "pip install --upgrade pip setuptools wheel",
  "PROJ_DIR=/usr pip install --no-cache-dir -r requirements.txt"
]

[start]
cmd = "python -m uvicorn main:app --host 0.0.0.0 --port ${PORT:-8000}"
